$dist: -42px;
.burgerIcon {
  z-index: 10;
  position: absolute;
  width: 42px;
  height: 42px;
  top: 1%;
  left: 2%;
  svg {
    color: $iconsOrange;
    width: 100%;
    height: 100%;
    &:nth-child(2) {
      transform: translateY($dist);
    }
    &:nth-child(3) {
      transform: translateY($dist * 2.03);
    }
  }
  @media screen and (min-width: $mobile-size) {
    display: none;
  }
}

@keyframes extendTopBun {
  100% {
    transform: translateY(-5px);
  }
}
@keyframes extendSteak {
  100% {
    transform: translateY($dist) scaleX(0.9);
  }
}
@keyframes extendBottomBun {
  100% {
    transform: translateY($dist * 2.03 + 5px);
  }
}

@keyframes smashTopBun {
  0% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes smashSteak {
  0% {
    transform: translateY($dist) scaleX(0.9);
  }
  50% {
    transform: translateY($dist) scaleX(0.9);
  }
  70% {
    transform: translateY($dist) scaleX(1.05);
  }
  100% {
    transform: translateY($dist) scaleX(1);
  }
}
@keyframes smashBottomBun {
  0% {
    transform: translateY($dist * 2.03 + 5px);
  }
  60% {
    transform: translateY($dist * 2.03 - 3px);
  }
  100% {
    transform: translateY($dist * 2.03);
  }
}
