.ingredients-filtered {
    h2 {
        text-align: center;
        font-size: 1.25rem;
        font-weight: bold;
        margin: 1rem 0;
    }
    ul {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 1.1rem;
        li {
            border: 1px solid silver;
            border-radius: 25px;
            display: flex;
            &:hover {
                transition: 0.1s;
                filter: brightness(0.9);
            }
            span {
                display: block;
                padding: 10px;
                padding-left: 15px;
                padding-right: 5px;
                user-select: none;
                font-family: Plus Jakarta Sans;
                color: black;
                font-size: 1.25rem;
            }
            button {
                cursor: pointer;
                border-radius: 5px;
                width: 35px;
                &:hover {
                    color: darkslategray;
                    transform: scale(1.1);
                }
            }
        }
        &:first-of-type {
            li {
                background: indianred;
            }
        }
        &:nth-of-type(2) {
            li {
                background: $green;
            }
        }
    }
}