.recipes {
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.favorite-animation {
  animation: favorite-animation 0.5s ease-in-out;
}

@keyframes favorite-animation {
  0% {
    transform: scale(0);
    color: white;
  }

  40% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

@media #{$desktopSize} {
  .recipeCard {
    display: flex;
    flex-direction: column;
    width: 250px; /* Largeur des cartes de recettes */
    margin-bottom: 20px; /* Espacement entre les cartes de recettes */
  }
}
