.searchRecipe {
  display: block;
  width: min(70%, 340px);
  height: 50px;
  border-radius: 50px;
  padding-left: 20px;
  margin: 12rem auto 3rem;
  font-size: 1.25rem;
  font-family: Playfair Display;
  border: 2px solid grey;
  background: ghostwhite;

  &:focus {
    background: lightgray;
    border: 3px solid black;
    outline: none;
  }
}
#loupe {
  position: absolute;
  display: flex;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  z-index: 10000;
  right: 10%;
}
