@media screen and (max-width: 650px) {
  #search-bar {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 10px;
    width: min(70%, 340px);
    margin: auto;
    .searchRecipe {
      width: 100%;
      padding: 10px 0 10px 20px;
      height: 50px;
      border-radius: 50px;
      font-size: 1.25rem;
      font-family: Playfair Display;
      border: 2px solid grey;
      background: ghostwhite;

      &:focus {
        background: oldlace;
        border: 3px solid black;
        outline: none;
      }
    }

    #loupe {
      position: absolute;
      width: 45px;
      height: 45px;
      top: 45px;
      right: 15px;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
        transition: 0.1s;
      }
    }
  }
}
