.searchingPage {
  &__title, &__favorites {
    margin: 2rem auto;
    text-align: center;
    font-family: "aclonica";
  }
  &__title {
    font-size: 30px;
  }
  &__favorites {
    font-size: 22px;
  }
}
