$iconsOrange: #ff914c;
$bg-color: #ffffff;
$bg-navbar-color: #ffe4d3;
$green: #A3D9A5;
$mobile-size: 460px;
$bg-footer-color: #fff0e7;
$bg-bloc-color: #f7f4ef;
$desktopSize: 'screen and (min-width: 1366px)';
$tabletSize: 'screen and (min-width: 768px)';
