@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


  .catalogue__title {
    font-size: 40px;
    font-family: 'Aclonica';
    text-align: center;
    height: 5rem;
    margin-top: 2rem;
  }

  .recipes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;

    .recipeCard {
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      background: whitesmoke;
      height: 230px;
      width: 150px;
      padding: 0.75rem;
      display: flex;
      flex-direction: column;

      &:hover {
        transition: 0.2s;
        transform: scale(1.05);
      }

      &__image {
        cursor: pointer;
        width: 100%;
        height: 139px;
        /* Shine effect */
        position: relative;
        overflow: hidden;

        &:before {
          background: linear-gradient(
            to right,
            fade_out(white, 1) 0%,
            fade_out(white, 0.8) 100%
          );
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: -150%;
          width: 100%;
          height: 100%;
          transform: skew(-25deg);
          z-index: 1;
        }

        &:hover:before,
        &:focus:before {
          animation: shine 1.5s;
        }

        @keyframes shine {
          100% {
            left: 150%;
          }
        }

        /* End of shine effect */
        img {
          width: 100%;
          height: 88%;
          border-radius: 25px;
          object-fit: cover;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
      }

      &__name {
        text-align: center;
        margin: 0.2rem auto 0.3rem;
        font-weight: bold;
        height: 25px;
        padding: 0 0.5rem;

        &--small {
          font-size: 1rem;
        }
      }

      &__time {
        margin: 0.5rem auto 0.3rem;
        font-size: 0.8rem;
        display: flex;
        align-items: center;

        svg {
          margin-right: 0.2rem;
        }
      }

      &__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 30px;

        &-add {
          width: 50px;
          height: 25px;
          border-radius: 500px;
          box-shadow: 0 5px 3px rgba(0, 0, 0, 0.3);
          background: rgba(0, 0, 0, 0.03);
          cursor: pointer;
          @include verticalCenter;

          &:hover {
            transition: 0.2s;
            background: white;
          }

          &:active {
            transition: 0.05s;
            transform: scale(0.9);
          }
        }

        &-favorite {
          width: 25px;
          aspect-ratio: 1/1;
          margin-right: 10px;

          svg {
            color: darkred;
            cursor: pointer;

            &:hover {
              transition: 0.2s;
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }


.catalogue__footer {
  margin-top: 2rem;
}

.favorite-animation {
  animation: favorite-animation 0.5s ease-in-out;
}

@keyframes favorite-animation {
  0% {
    transform: scale(0);
    color: white;
  }

  40% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

@media screen and (min-width: 1024px) {
  .catalogue {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
}
