.catalogue {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  margin: auto;
  .recipes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  /* Filtres */
}
  .catalogue__title {
    font-size: 40px;
    font-family: 'Aclonica';
    text-align: center;
    height: 5rem;
    margin-top: 2rem;
}
  
.catalogue__footer {
  margin-top: 2rem;
}

.favorite-animation {
  animation: favorite-animation 0.5s ease-in-out;
}

@keyframes favorite-animation {
  0% {
    transform: scale(0);
    color: white;
  }

  40% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

@media #{$tabletSize} {
  .catalogue {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
}
