@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.catalogue__title {
  font-size: 40px;
  font-family: 'Aclonica';
  text-align: center;
  height: 5rem;
  margin-top: 2rem;
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.catalogue__footer {
  margin-top: 2rem;
}

.favorite-animation {
  animation: favorite-animation 0.5s ease-in-out;
}

@keyframes favorite-animation {
  0% {
    transform: scale(0);
    color: white;
  }

  40% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

@media #{$tabletSize} {
  .catalogue {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
}
