// useless pour l'instant
.favorites {
  margin: auto 0;
  .placeHolder{
    &.visible{
      display:block;
    }
    &.notVisible{
      display: none;
    }
    margin-top: 28vh;
    font-family: Playfair;
    font-size: 1.5rem;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
  }
}
