.dark-theme {
  background-color: #1b1b1d;
  color: #f1f1f1;
}
.navBarDark,
.footerDark {
  background-color: #242526;
  p {
    color: #f1f1f1;
  }
}
.blocDark,
.recipeCardDark {
  background-color: #404244;
}

.toggle {
  margin-top: 30px;
}
