@import './abstracts/functions';
@import './abstracts/mixins';
@import './abstracts/placeholders';
@import './abstracts/variables';
/* BASE */
@import './base/reset';
@import './base/base';
@import './base/typography';
/* COMPONENTS */
@import './components/bloc';
@import './components/buttons';
@import './components/cards';
@import './components/form';
@import './components/navbar';
@import './components/recipes';
@import './components/searchRecipe';
@import './components/burgerIcon';
/* LAYOUTS */
@import './layouts/containers';
@import './layouts/footer';
@import './layouts/grid';
@import './layouts/navbar';
@import './layouts/menuBurger';
/* PAGES */
@import './pages/about';
@import './pages/catalogue';
@import './pages/home';
/* THEMES */
@import './themes/dark';
@import './themes/light';
/* VENDORS */
@import './vendors/bootstrap';
@import './vendors/normalize';