@import './abstracts/functions';
@import './abstracts/mixins';
@import './abstracts/placeholders';
@import './abstracts/variables';
/* BASE */
@import './base/reset';
@import './base/base';
@import './base/typography';
/* COMPONENTS */
@import './components/bloc';
@import './components/buttons';
@import './components/_ficheProduit';
@import './components/recipeCard';
@import './components/form';
@import './components/ingredient';
@import './components/recipes';
@import './components/searchBar';
@import './components/burgerIcon';
@import './components/searchingPage';
@import './components/ingredientsDropdown';
/* LAYOUTS */
@import './layouts/containers';
@import './layouts/footer';
@import './layouts/grid';
@import './layouts/navbar';
@import './layouts/menuBurger';
/* PAGES */
@import './pages/about';
@import './pages/catalogue';
@import './pages/home';
@import './pages/favorites';
/* THEMES */
@import './themes/dark';
@import './themes/light';
/* VENDORS */
@import './vendors/bootstrap';
@import './vendors/normalize';
