.menuBurger {
  z-index: 1;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  &.appear {
    transform: translateX(0);
    transition: 500ms;
  }
  &.disappear {
    transform: translateX(-100vw);
    transition: 500ms;
  }
  .logo {
    display: block;
    margin: auto;
    width: 300px;
    height: 300px;
    margin-bottom: 50px;
  }
  .list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    a {
      font-family: Playfair Display;
      font-size: 2.5rem;
      text-decoration: none;
      color: black;
    }
  }
}
