.navBar{
    background-color: #FFE4D3;
    #logo{
        height:200;
        width: 200px;
    }
    .icons{
        display: flex;
        position: absolute;
        gap: 20px;
        top : 95px;
        right :20px;
        img{
            filter: invert(.5) sepia(1) saturate(5) hue-rotate(0deg);
        }
        #heart, #book{
            display: none;
        }
    }
}