.navBarDesktop,
.navBarMobile {
  background-color: $bg-navbar-color;
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  height: 150px;
  justify-content: center;
  z-index: -1;
  .logo {
    position: relative;
    top: -20px;
    height: 200px;
    width: 200px;
  }
  .icons {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
    gap: 10px;
    svg {
      position: relative;
      color: $iconsOrange;
      height: 45px;
      width: 45px;
      cursor: pointer;
      &:hover {
        transition: all 0.2s ease-in-out;
        transform: scale(1.2);
        filter: brightness(1.2);
      }
    }
  }
}

.navBarMobile {
  display: none;
}

@media (max-width: $mobile-size) {
  .navBarDesktop {
    display: none;
  }
  .navBarMobile {
    display: flex;
  }
}
