.navBarDesktop,
.navBarMobile {
  background-color: $bg-color;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 150px;
  justify-content: center;
  .logo {
    position: absolute;
    top: -20px;
    height: 200px;
    width: 200px;
  }
  .icons {
    display: flex;
    svg {
      color: $iconsOrange;
    }
    #book {
      display: none;
    }

    #heart {
      position: absolute;
      top: 1%;
      right: 2%;
      height: 45px;
      width: 45px;
      cursor: pointer;
    }
  }
}

.navBarMobile {
  display: none;
}

@media (max-width: 450px) {
  .navBarDesktop {
    display: none;
  }
  .navBarMobile {
    display: flex;
  }
}
