.navBar{
    background-color: #FFE4D3;
    display: flex;
    justify-content: center;
    #logo{
        height:200px;
        width: 200px;
    }
    .icons{
        display: flex;
        svg{
            color: #FF914C;
        }
        #book{
            display: none;
        }
        #burger{
            position:absolute;
            top:1%;
            left:2%;
            height: 40px;
            width: 40px;
        }
        
        #heart{
            position: absolute;
            top: 1%;
            right: 2%;
            height: 45px;
            width: 45px;
        }
    }
}