html {
  scroll-behavior: smooth;
  font-family: Playfair Display;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: $bg-color;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .content {
    margin-top: 150px;
    flex: 1;
  }
}